body{
	color: $body;
	background-color: $bg
}

.page-header {
	color: $title;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

.info {
	padding: 0 5% 0;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

.date {
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 10px;
}


