$primary:   #FF8800;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #505960;
$lighter:	#6c757d;
$dark:      #343a40;
$darker:    #141719;
$background:#202020;

$rounded-borders: 15px;